.pager
{
	margin-left: 0;
	margin-bottom: $baseLineHeight;
	list-style: none;
	text-align: center;
	@include clearfix();

	li
	{
		display: inline;

		a
		{
			display: inline-block;
			padding: 5px 14px;
			background-color: #fff;
			border: 1px solid #ddd;
			@include border-radius(15px);

			&:hover
			{
				text-decoration: none;
				background-color: #f5f5f5;
			}
		}

		&.next a
		{
			float: right;
		}

		&.previous a
		{
			float: left;
		}
	}
}
